
.elementContainer {
  display: flex;
  flex-direction: column;
  z-index: 2;
  width: 10%;
  margin-left: 5px;
  max-height: 350px;
  overflow: auto;
  display: flex;
  background-color: white;
  border-radius: 5px;
}
.dropDown {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 25%;
  height: 60px;
  outline: none;
}
.dropButtom {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 100%;
  height: 55px;
  border-radius: 20px;
  outline: none;
  font-family: "Times New Roman";
  font-size: 15px;
}
.dropItem {
  color: gray;
  text-decoration: none;
  text-align: center;
}
.element {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 5px;
  margin-top: 5px;
  height: 10px;
}
.icon {
  width: 100%;
  height: 15px;
  color: gray;
}
.iconPlus {
  margin-top: 10px;
  width: 30%;
  height: 30px;
  color: gray;
  cursor: pointer;
}
.iconX {
  width: 15%;
  height: 30px;
  color: gray;
  cursor: pointer;
}
.iconSearch {
  width: 20%;
  height: 16px;
  color: gray;
  cursor: pointer;
}

.url {
  font-size: 90%;
  color: black;
  font-family: "Times New Roman";
  text-decoration: none;
  width: 80%;
  height: 25px;
  text-align: center;
  padding: 1px;
}
.urlDownload {
  font-size: 20px;
  color: black;
  padding: 0.5em;
  font-family: "Times New Roman";
  text-decoration: none;
  text-align: center;
}
.urlReference {
  font-size: 15px;
  height: 50px;
  color: white;
  font-family: "Times New Roman";
  text-decoration: none;
  text-align:center;
  width: 100%;
}

.iconController {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}
@media (max-width: 600px) {
  .elementContainer {
  width: 35%;
  };
}